@using CheckerApp.Blazor.Shared.Modal

<div class="col">
    <div class="border p-2">
        <div class="mb-2 row">
            <div class="col">
                <MudTextField Label="Модель операторской станции" @bind-Value="((ArmVm)Value).Name" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((ArmVm)Value).Name"></ValidationMessage>
            </div>
            <div class="col">
                <MudTextField Label="Серийный номер" @bind-Value="Value.SerialNumber" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> Value.SerialNumber"></ValidationMessage>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col">
                <MudTextField Label="Модель монитора" @bind-Value="((ArmVm)Value).Monitor" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((ArmVm)Value).Monitor"></ValidationMessage>
            </div>
            <div class="col">
                <MudTextField Label="Серийный номер монитора" @bind-Value="((ArmVm)Value).MonitorSN" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((ArmVm)Value).MonitorSN"></ValidationMessage>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col">
                <MudTextField Label="Модель клавиатуры" @bind-Value="((ArmVm)Value).Keyboard" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((ArmVm)Value).Keyboard"></ValidationMessage>
            </div>
            <div class="col">
                <MudTextField Label="Серийный номер клавиатуры" @bind-Value="((ArmVm)Value).KeyboardSN" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((ArmVm)Value).KeyboardSN"></ValidationMessage>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col">
                <MudTextField Label="Модель мыши" @bind-Value="((ArmVm)Value).Mouse" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((ArmVm)Value).Mouse"></ValidationMessage>
            </div>
            <div class="col">
                <MudTextField Label="Серийный номер мыши" @bind-Value="((ArmVm)Value).MouseSN" Variant="Variant.Outlined"></MudTextField>
                <ValidationMessage For="()=> ((ArmVm)Value).MouseSN"></ValidationMessage>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col">
                <MudSelect Label="Операционная система" @bind-Value="((ArmVm)Value).OS" Variant="Variant.Outlined">
                    <MudSelectItem Value="@("")">---</MudSelectItem>
                    <MudSelectItem Value="@("Windows 7(x86)")">Windows 7(x86)</MudSelectItem>
                    <MudSelectItem Value="@("Windows 7(x64)")">Windows 7(x64)</MudSelectItem>
                    <MudSelectItem Value="@("Windows 10(x86)")">Windows 10(x86)</MudSelectItem>
                    <MudSelectItem Value="@("Windows 10(x64)")">Windows 10(x64)</MudSelectItem>
                    <MudSelectItem Value="@("Windows Server 2008(x86)")">Windows Server 2008(x86)</MudSelectItem>
                    <MudSelectItem Value="@("Windows Server 2008(x64)")">Windows Server 2008(x64)</MudSelectItem>
                    <MudSelectItem Value="@("Windows Server 2016(x86)")">Windows Server 2016(x86)</MudSelectItem>
                    <MudSelectItem Value="@("Windows Server 2016(x64)")">Windows Server 2016(x64)</MudSelectItem>
                </MudSelect>
            </div>
            <div class="col">
                <MudTextField Label="Код продукта" @bind-Value="((ArmVm)Value).ProductKeyOS" Outlined="true" Style="width: 100%;"></MudTextField>
                <ValidationMessage For="()=> ((ArmVm)Value).ProductKeyOS"></ValidationMessage>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col d-flex">
                <div class="custom-control custom-checkbox align-self-center">
                    <InputCheckbox class="custom-control-input" id="raid" @bind-Value="((ArmVm)Value).HasRAID"></InputCheckbox>
                    <label class="custom-control-label" for="raid">
                        RAID-массив
                    </label>
                </div>
            </div>
            <div class="col">
                <MudTextField Label="Позиция по проекту" @bind-Value="Value.Position" Outlined="true" Style="width: 100%;"></MudTextField>
                <ValidationMessage For="()=> Value.Position"></ValidationMessage>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <MudChipSet AllClosable="true" OnClose="Remove">
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" OnClick="AddNetworkAdapter">Добавить сетевую карту</MudButton>
                    @for (int i = 0; i < ((ArmVm)Value).NetworkAdapters.Count; i++)
                    {
                        var adapter = ((ArmVm)Value).NetworkAdapters[i];
                        <MudChip Text="@i.ToString()">@(adapter.IP + " (" + adapter.MacAddress + ") ")</MudChip>
                    }
                </MudChipSet>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public HardwareVm Value { get; set; }

    [Parameter]
    public EventCallback<HardwareVm> ValueChanged { get; set; }

    [CascadingParameter]
    protected IDialogService DialogService { get; set; }

    private async Task AddNetworkAdapter()
    {
        var modalForm = DialogService.Show<NetworkAdapterAdd>("");
        var result = await modalForm.Result;

        if (!result.Cancelled)
        {
            var adapter = (NetworkAdapterDto)result.Data;
            ((ArmVm)Value).NetworkAdapters.Add(adapter);
        }
    }

    public void Remove(MudChip chip)
    {
        var index = int.Parse(chip.Text);
        ((ArmVm)Value).NetworkAdapters.RemoveAt(index);
    }
}
